.App {
  padding: 30px 100px 0 100px;
}

.App h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  margin-bottom: 3em;
}

footer p {
  text-align: center;
  opacity: .6;
  
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0;
    margin: 0;
  }
  .App h1 {
    margin: 2.5rem 0 3rem 4rem;
  }
}